[submodule "rust-core"]
	path = rust-core
	url = https://github.com/thestinger/rust-core.git
[submodule "rust"]
	path = rust
	url = ./rust/
[submodule "lazy-static"]
	path = lazy-static
	url = ./lazy-static/
